{% extends 'middleman1.html' %}
{% load bootstrap5 %}
{% load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block title %} Novo Terapeuta {% endblock %}</title>
    {% block head %}

    <style>

        .form-group {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        margin-bottom: 10px;
    }
        .form-input {
            align-items: center;
            justify-content: space-between;
            margin-bottom: 100px;
        }

    </style>
    {% endblock %}

</head>
<body>
<div class="page-container">

{% block content %}
<h1 class="text-body-emphasis">
    Cadastrar Novo Terapeuta
</h1>

{% if sucesso %}
<p class="alert alert-success">
    Novo Terapeuta Cadastrado!<br>
    Por favor verifique o email para continuar! <br>
        <a href="{% url 'main:administrativo' %}"> Voltar ao Inicio </a>

</p>
{% else %}

<form action="" method="POST" id="form" novalidate>
    {% csrf_token %}
    <div class="mb-3 form-container">
        <h2>Informações do Usuário:</h2>
        <div class="form-group">
            {{ user_form.username.label_tag }}
            {{ user_form.username }}
            {{ user_form.username.help_text }}
        </div>

        <div class="form-group">
            {{ user_form.email.label_tag }}
            {{ user_form.email }}
        </div>

        <div class="form-group">
            {{ user_form.phone_number.label_tag }}
            {{ user_form.phone_number }}
        </div>

        <div class="form-group">
            {{ user_form.password1.label_tag }}
            {{ user_form.password1 }}
            {{ user_form.password1.help_text }}
        </div>

        <div class="form-group">
            {{ user_form.password2.label_tag }}
            {{ user_form.password2 }}
        </div>
    </div>
    <div class="mb-3 form-container">
        <h2>Informações Pessoais: </h2>
       <div class="form-group">
        {% bootstrap_form terapeuta_form %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">
        Cadastrar
    </button>
</form>
{% endif %}
{% endblock %}
</div>
</body>

    <footer class="footer">
        criado por Mário P. Bernardes, 2023
    </footer>
</html>