{% extends 'middleman1.html' %}
{% load bootstrap5 %}
{% load static%}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Novo Paciente{% endblock %}</title>

    {% block head %}

    <style>
        .form-group {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        margin-bottom: 10px;
    }
        .form-input {
            align-items: center;
            justify-content: space-between;
            margin-bottom: 100px;
        }
    </style>
    {% endblock %}
<body>
<div class="page-container">

{% block content %}
<h1 class="text-body-emphasis">
    Teste Form
</h1>

{% if sucesso %}
<p class="alert alert-success">
    Deu Certo!
</p>
{% else %}

<form action="" method="POST" id="form" novalidate>
    {% csrf_token %}
    <div class="form-group">
        {% bootstrap_form form %}
    </div>
    <button type="submit" class="btn btn-primary btn-block">
        Cadastrar
    </button>
</form>
{% endif %}
{% endblock %}
</div>
</body>

    <footer class="footer">
        criado por Mário P. Bernardes, 2023
    </footer>
</html>