{% extends 'middleman1.html' %}
{% load bootstrap5 %}
{% load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block title %}Desligamento{% endblock %}</title>
</head>
<body>
    <div class="page-container">

        {% block content %}
            <h1 class="text-body-emphasis">
                Desligar Grupo
            </h1>

            {% if sucesso %}
                <p class="alert alert-success">
                    Grupo Desligado com sucesso! <br>
                    <a href="{% url 'main:homepage' %}"> Voltar ao Inicio </a>
                </p>
            {% else %}

                <form action="" method="POST" id="form" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary btn-block">
                        Desligar
                    </button>

                </form>
            {% endif %}
        {% endblock %}
    </div>
</body>

    <footer class="footer">
        criado por Mário P. Bernardes, 2023
    </footer>
</html>