{% extends 'middleman1.html' %}
{% load bootstrap5 %}
{% load static%}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Geral</title>
</head>
<body>
<div class="page-container">

{% block content %}
<h1>Bem Vindo {{ request.user.username }} ! </h1>
    {% csrf_token %}
    <ul>
        <h2> Pacientes Ativos: </h2>
        {% for paciente in lis_pacientes_ativos %}
            <li>
                {{ paciente.nome }} - {{ paciente.prontuario_numero }}
            </li>
        {% empty %}
            <li>No entries found.</li>
        {% endfor %}

        <h2> Pacientes Inativos: </h2>
        {% for paciente in lis_pacientes_inativos %}
            <li>
                {{ paciente.nome }} - {{ paciente.prontuario_numero }}
                <a href="{% url 'main:religamento' prontuario_numero=paciente.prontuario_numero %}"> Reativar </a> <br>
            </li>
        {% empty %}
            <li>No entries found.</li>
        {% endfor %}
    <ul>
        <h2> Terapeutas: </h2>
        {% for terapeuta in list_terapeutas %}
            <li>
                {{ terapeuta.nome }} - {{ terapeuta.conselho_codigo }}
                <a href="{% url 'main:mod_info_prof' terapeuta_codigo=terapeuta.conselho_codigo %}"> Modificar </a> <br>
            </li>
        {% empty %}
            <li>No entries found.</li>
        {% endfor %}
    </ul>
        {% endblock %}
</body>
</html>