<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">

  <title> Adiutor Login </title>
  <link rel="canonical" href="https://codepen.io/banik/pen/dgQvWO">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../static/normalize.min.css" rel="stylesheet">
  <link href="../static/homeloginstyle.css" rel="stylesheet">
  <style>
    .btn-primary {
    background-color: transparent;
    color: #007bff;
    border: none;
    padding: 5px;
    justify-content: center;
}
    .btn-primary:hover {
    text-decoration: underline;
}
  </style>


</head>

<body translate="no">
  <div class="container" onclick="onclick">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
    <h2>Faça Login Para Continuar</h2>
     <form action="" method="POST" id="form" novalidate>
       {% csrf_token %}
     {{ form }}
     <button type="submit" class="btn btn-primary">Login</button>

     </form>
  </div>
</div>

</body>

</html>