{% load static %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">

  <title> Adiutor Login </title>
  <link rel="canonical" href="https://codepen.io/banik/pen/dgQvWO">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <link href="../static/normalize.min.css" rel="stylesheet">-->
<!--  <link href="{% static 'normalize.min.css' %}" rel="stylesheet">-->
  <link rel="stylesheet" type="text/css" href="{% static 'normalize.min.css' %}">

<!--  <link href="../static/homeloginstyle.css" rel="stylesheet">-->
<!--  <link href="{% static 'homeloginstyle.css' %}" rel="stylesheet">-->
  <link rel="stylesheet" type="text/css" href="{% static 'homeloginstyle.css' %}">
  <style>
      .btn-primary-container {
    text-align: center;
}
    .btn-primary {
    background-color: transparent;
    color: #007bff;
    border: none;
    padding: 5px;
}
    .btn-primary:hover {
    text-decoration: underline;
}
  </style>


</head>

<body translate="no">
  <div class="container" onclick="onclick">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
    <h2>Faça Login Para Continuar</h2>
     <form action="" method="POST" id="form" novalidate>
       {% csrf_token %}
     {{ form }}
     <button type="submit" class="btn btn-primary">Login</button>

     </form>
  </div>
</div>

</body>

</html>