<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">

  <title> Adiutor </title>
  <link rel="canonical" href="https://codepen.io/banik/pen/dgQvWO">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../static/normalize.min.css" rel="stylesheet">
  <link href="../static/homeloginstyle.css" rel="stylesheet">

</head>

<body translate="no">
  <div class="container" onclick="onclick">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
    <h2> Bem Vindo!</h2>
    <h2>Faça <a href="../main/login">login</a> Para Continuar</h2>

  </div>
</div>

</body>

</html>