{% extends 'middleman1.html' %}
{% load bootstrap5 %}
{% load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block title %}Nova Entrada{% endblock %}</title>

    {% block head %}

    <style>
        .form-group {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        margin-bottom: 10px;
    }
        .form-input {
            align-items: center;
            justify-content: space-between;
            margin-bottom: 100px;
        }
    </style>
    {% endblock %}
</head>
<body>
<div class="page-container">

{% block content %}
<h1 class="text-body-emphasis">
    Registrar Nova Consulta
</h1>

{% if sucesso %}
<p class="alert alert-success">
    Registrado com Sucesso!<br>
    <a href="{% url 'main:index' %}"> Voltar ao Inicio </a>

</p>
{% else %}

<form action="" method="POST" id="form" novalidate>
    {% csrf_token %}
    <div class="form-group">
        {% bootstrap_form form %}
    </div>

    <table>
    <thead>
      <tr>
        <th>Presente / </th>
        <th>Nome paciente</th>
      </tr>
    </thead>
    <tbody>
      {% for paciente in pacientes %}
        <tr>
          <td><input type="checkbox" name="selected_items" value="{{ paciente.id }}"></td>
          <td>{{ paciente.nome }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    <button type="submit" class="btn btn-primary btn-block">
        Salvar
    </button>
</form>
{% endif %}
{% endblock %}
</div>
</body>

    <footer class="footer">
        criado por Mário P. Bernardes, 2023
    </footer>
</html>