{% extends 'middleman1.html' %}
{% load bootstrap5 %}
{% load static%}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="pt-br">
<body>
<div class="page-container">

{% block content %}
<h1> Paciente: {{ paciente.nome }} <br>
     Prontuário nº: {{ paciente.prontuario_numero }}
</h1>
    <ul>
        <li> Data de Nascimento: {{ paciente.nascimento}} ( {{ idade }} ) </li>
        <li> CPF: {{ paciente.cpf_numero | format_cpf }} </li>
        {% if paciente.responsavel_legal %}
        <li> Responsável Legal: {{ paciente.responsavel_legal }}, CPF: {{ paciente.cpf_responsavel_legal | format_cpf }} </li>
        {% endif %}
        <li> Telefone: {{ paciente.telefone_numero | format_phone_number }} </li>
        <li> Convênio: {{ paciente.convenio }}
        {% if paciente.carteirinha_convenio %}
        , Nº carteirinha: {{ paciente.carteirinha_convenio }}</li>
        {% endif %}
        <li> Tipo de Atendimento: {{ paciente.get_modalidade_atendimento_display }}</li>
        <li>Observações: {{ paciente.observacoes }} </li>

        <strong> Arquivos do paciente: </strong> <br>
        PDF:
        {% for media in pdf_media %}

            <li>
                {{ media.description }} - <a href="{% url 'main:paciente/pdf' media_id=media.id %}"> Visualizar </a>
            </li>
        {% empty %}
            <li> Sem arquivos para exibir.</li>
        {% endfor %}
        <br>
            Imagens: <br>
            {% for media in image_media %}
                <li>
                    {{ media.description }} - <a href="{% url 'main:paciente/image' media_id=media.id %}"> Visualizar </a>
                </li>
            {% empty %}
                <li> Sem arquivos para exibir.</li>
            {% endfor %}
    </ul>
{% endblock %}
</div>
</body>

    <footer class="footer">
        criado por Mário P. Bernardes, 2023
    </footer>
</html>