{% extends 'middleman1.html' %}
{% load bootstrap5 %}
{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<title> {% block title %} Produção {% endblock %} </title>
 {% block head %}
<style>

     table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        padding: 8px;
        border: 1px solid #dddddd;
        text-align: left;
        vertical-align: top;
        word-wrap: break-word;
    }

    td, th {
        max-width: 200px;
    }

    td, th {
        max-height: 100px;
        overflow: hidden;
    }

</style>
{% endblock %}
<body>

<div class="page-container">

{% block content %}
<h1> Produção de {{ terapeuta.nome }} </h1>
    <div class="d-flex justify-content-between align-items-baseline">
        {% url 'main:producao-mensal' as base_url %}
        {% with download_url=base_url|add:'?as_pdf=1' %}
        <a href="{{ download_url }}?as_pdf=1" target="_blank">
            <span class="material-icons fs-1">print</span>
        </a>
    {% endwith %}

    </div>
<h2> Período: {{ data_inicial }} -
    {% if data_final %}
        {{ data_final }}
    {% else %}
        {% now "j F Y" %}
    {% endif %} <br>
     Total de atendimentos: {{ producao_count }}
</h2>
{% csrf_token %}

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Convênio</th>
            <th>Carteirinha</th>
            <th>Data da Consulta </th>
            <th>Enviado em</th>
            <th>Total de Consultas</th>
        </tr>
    </thead>
    <tbody>
        {% for paciente, detalhes_paciente in atendimentos.items %}
            <tr>
                <td>{{ detalhes_paciente.consulta_paciente }}</td>
                <td>{{ detalhes_paciente.consulta_convênio }}</td>
                <td>{{ detalhes_paciente.convenio_identificador }}</td>
                <td>
                    {% for consulta in detalhes_paciente.consultas %}
                      {{ consulta.consulta_data | simplify_date }} <input type="checkbox" name="verificado" value="{{ consulta.id }}"> <br>
                    {% endfor %}
                </td>
                <td>
                    {% for consulta in detalhes_paciente.consultas %}
                        {{ consulta.entrada_data | simplify_date }} <br>
                    {% endfor %}
                </td>
        <td>{{ detalhes_paciente.consultas|length }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6"> Sem atendimentos para exibir!</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

    {% endblock %}
</div>

</body>
</html>
