{% extends 'middleman1.html' %}
{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block title %}Prontuario{% endblock %}</title>
</head>
<body>
<div class="page-container">
    {% block content %}
    <h1>Prontuário de {{ paciente.nome }} </h1>

    {% csrf_token %}

    <ul>
        {% for prontuario in prontuarios %}
            <li>
                {{ prontuario.data_consulta }} - {{ prontuario.autor }} <br>
                {{ prontuario.entrada }}
            </li>
        {% empty %}
            <li>Nenhuma entrada encontrada neste prontuário.</li>
        {% endfor %}
    </ul>
    {% endblock %}
</div>

<a href="{% url 'main:index' %}"> Voltar ao Inicio </a>

<footer class="footer">
    criado por Mário P. Bernardes, 2023
</footer>
</body>
</html>
