{% extends 'middleman1.html' %}
{% load bootstrap5 %}
{% load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block title %} Arquivos de Terapeuta {% endblock %}</title>
</head>
<body>
    <div class="page-container">

        {% block content %}
            <h1 class="text-body-emphasis">
                Arquivos de {{ terapeuta.nome }} / CRP {{ terapeuta.coselho_codigo }}
            </h1>

            {% if sucesso %}
                <p class="alert alert-success">
                    Adicionado com Sucesso! <br>
                    <a href="{% url 'main:homepage' %}"> Voltar ao Inicio </a> <br>
                    <a href="{% url 'main:cadastrar_formacao' terapeuta_codigo=terapeuta.conselho_codigo %}"> Cadastrar novo curso </a>
                </p>
            {% else %}

            <form action="" method="POST" enctype="multipart/form-data" id="form" novalidate>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary btn-block">
                    Salvar
                </button>

            </form>
            {% endif %}
        {% endblock %}
    </div>
</body>

    <footer class="footer">
        criado por Mário P. Bernardes, 2023
    </footer>
</html>