{% extends 'middleman1.html' %}
{% load bootstrap5 %}
{% load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block title %} Informações Pessoais de {{ terapeuta.nome}} {% endblock %}</title>
</head>
<body>
<div class="page-container">

{% block content %}
<h1>Informações Pessoais de {{ terapeuta.nome }}:</h1>
    <li>
        <strong> Pessoal </strong>: <br>
        Data de Nascimento: {{ terapeuta.nascimento}} <br>
        CPF:{{ terapeuta.cpf_numero }} , RG: {{terapeuta.rg_numero}} {{terapeuta.rg_emissor}} <br>
        Contato: {{ terapeuta.email }} <br> /
        {{ terapeuta.telefone_numero }} <br>
        Endereço: Rua: {{ terapeuta.endereco_rua }}, {{ terapeuta.endereco_numero }} <br>
        {{terapeuta.endereco_complemento}} , {{ terapeuta.endereco_bairro }}, {{ terapeuta.cidade }} <br>
        CEP: {{ terapeuta.cep_numero }} <br>
        <strong> Profissional: </strong><br>
        CRP: {{ terapeuta.conselho_codigo }} <br>
        Status Pós: {{ terapeuta.pos_grad_status }} <br>

    </li>
{% endblock %}
</div>
</body>

    <footer class="footer">
        criado por Mário P. Bernardes, 2023
    </footer>
</html>