{% extends 'middleman1.html' %}
{% load bootstrap5 %}
{% load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block title %} Informações Pessoais de {{ terapeuta.nome}} {% endblock %}</title>
</head>
<body>
<div class="page-container">

{% block content %}
<h1>Informações Pessoais de {{ terapeuta.nome }}:</h1>

    <h3> Pessoal : </h3>

        <li>Data de Nascimento: {{ terapeuta.nascimento_data }}  </li>
        <li>CPF: {{ terapeuta.cpf_numero }} , RG: {{terapeuta.rg_numero}} {{terapeuta.rg_emissor}} </li>
        <li>Email: {{ terapeuta.email }} </li>
        <li>Telefone: {{ terapeuta.telefone_numero }} </li>
        <li>Endereço: Rua: {{ terapeuta.endereco_rua }}, {{ terapeuta.endereco_numero }} <br>
            {{terapeuta.endereco_complemento}} , {{ terapeuta.endereco_bairro }}, {{ terapeuta.cidade }},
        <br> CEP: {{ terapeuta.cep_numero }} </li>
        <br>
        <h4> Profissional: </h4>
        <li>CRP: {{ terapeuta.conselho_codigo }} </li>
        <li>Status Pós: {{ terapeuta.pos_grad_status }} </li>
    <br>
    <h6> Formação: </h6>
        {% for curso in historico %}
            <li>
                {{ curso.curso }} - {{ curso.instituicao }} - {{ curso.ano_conclusao }} <br>
                <a href="{% url 'main:view_certificado' curso_id=curso.id %}"> Ver Certificado </a>
            </li>
        {% empty %}
            <li> Sem arquivos para exibuir .</li>
        {% endfor %}
    <h5> Arquivos: </h5>
        {% for media in pdf_media %}
            PDF:
            <li>
                {{ media.description }} - <a href="{% url 'main:terapeuta/pdf' media_id=media.id %}"> Visualizar </a>
            </li>
        {% empty %}
            <li> Sem arquivos para exibir.</li>
        {% endfor %}
        <br>
            Imagens: <br>
            {% for media in image_media %}
                <li>
                    {{ media.description }} - <a href="{% url 'main:terapeuta/image' media_id=media.id %}"> Visualizar </a>
                </li>
            {% empty %}
                <li> Sem arquivos para exibir.</li>
            {% endfor %}
{% endblock %}
</div>
</body>

    <footer class="footer">
        criado por Mário P. Bernardes, 2023
    </footer>
</html>